.services-layout-1 i {
    color: #f79d17;
}

.services-layout-2 i {
    color: #f79d17;
}

.services-layout-2 .btn-default,
.services-layout-2 .btn-default:hover {
    color: #f79d17;
}

.cards-layout-1 .cards .card .icon-wrapper {
    border: 2px solid #f9a011;
    color: #f9a011;
}

.cards-layout-1 .cards .card:hover .icon-wrapper {
    color: #fff;
}

.cards-layout-1 .cards .card .btn-primary {
    background: #fff;
    border: 1px solid #f9a011;
    color: #f9a011;
}

.cards-layout-1 .cards .card:hover .btn-primary {
    background: #f9a011;
    border: 1px solid #f9a011;
    color: #fff;
}

.cards-layout-1 .cards .card:hover .card-title {
    color: #f9a011;
}

.cards-layout-1 .cards .card:hover .icon-wrapper {
    background: #f9a011;
}

@media screen and (max-width: 768px) {
    .cards-layout-1 .cards .card .btn {
        visibility: visible;
    }
}