@media screen and (max-width: 480px) {

    /*----- layout ----*/
    .grey-bg,
    .white-bg {
        padding: 40px 0;
    }

    /*---- hero -----*/
    .hero-content {
        min-width: 280px;
        padding: 25px;
    }

    .menu-wrap {
        width: 220px;
    }

    .mouse-icon {
        bottom: 5px;
    }

    /*---- portfolio -----*/
    ul.portfolio-image li {
        width: 100%;
        /* padding-top: 95%; */
        margin-bottom: 12px;
    }

    /*---- blog -----*/


    /*---- quote -----*/
    .wrap-about {
        padding: 0 0 20px 0;
        min-height: 400px !important;
    }

    .wrap-about .w-content {
        left: 0;
        right: 0;
        width: 100%;
        top: 0;
        padding: 30px 0;
        transform: none;
    }


    /*------- testimonial -------*/
    #testimonial {
        height: 700px;
    }

    .skillst {
        margin-top: 50px;
    }
}


@media screen and (max-width: 768px) {

    /*------ header -----*/
    .for-sticky {
        padding: 0;
    }

    .logo-nav {
        margin-left: 0;
    }

    .menu-button {
        margin-right: 15px;
    }

    .ma-infinitypush-wrapper.ma-infinitypush-active-button.ma-infinitypush-button-right .ma-infinitypush-button {
        left: -65px;
    }

    .ma-infinitypush-wrapper {
        width: 200px;
    }

    .ma-infinitypush-wrapper ul>li {
        width: 200px;
    }

    /*------- home ------*/
    #home p {
        width: 100%;
    }

    /*----- portfolio -----*/
    .portfolio-image>li {
        width: 49%;
    }


    /*---- blog -----*/


    /*------- about -------*/
    .bg-about {
        min-height: 520px;
    }

    .wrap-about {
        min-height: 520px;
        padding-bottom: 10%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .wrap-about .head-quote {
        padding-top: 10%;
    }

    .content-right {
        margin-top: 20px;
    }

    .text-grey {
        margin-bottom: 45px;
    }

    .skillst {
        margin-top: 50px;
    }

    /*------ footer -----*/
    footer p {
        text-align: center;
    }

    footer ul.social {
        margin-left: -40px;
        text-align: center;
    }

    footer ul.social li {
        padding: 0px 10px 0px 10px;
    }
}

@media screen and (min-width: 1024px) {
    .content-right {
        margin-top: 20px;
        padding: 0 20px 0 60px;
    }
}
