@import '../../../bootstrap_variables';

$white: #2B2B2B;
$black: #fafafa;
$silver: #bcbfc2;

$primary: #f2f2f2;
$secondary: #eeefef;
$success: #5bce93;
$info: #e1f1fd;
$warning: $yellow;
$danger: $red;
$light: #F9FCFF ;
$dark: #fafafa;

$body-bg: #000000;
$body-color: #FAFAFA;

$text-muted: $silver;

$textDark: $gray-700;
$textGray: #7e7e7e;
$textLight: #fafafa;