
.content-categories-images {
    text-align: justify;
}

.content-categories-images > a {
    text-align: center;
    width: 120px;
    display: inline-block;
    margin: 12px 12px 24px;
    float: left;
}

.content-categories-images > a strong {
    font-weight: normal;
    display: block;
    text-align: center;
    padding-top: 5px;
}

.content-categories-images > a:hover strong,
.content-categories-images > a:focus strong {
    text-decoration: underline
}

.content-categories-images .content-categories-images-img {
    width: 120px;
    height: 120px;
    display: block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
