.edit[field="layout-skin-3-module-layouts-1--6"][rel="module"] {
	padding-top: 50px;
}
.edit[field="footer-main-wrapper"][rel="global"] {
	background-color: #212121;
}
#element_1617710462204 {
	color: #000000;
}
#element_1617709090246 {
	color: #000000;
}
