@font-face {
  font-family: 'icomoon';
  src:url('line/fonts/icomoon.eot');
  src:url('line/fonts/icomoon.eot') format('embedded-opentype'),
  url('line/fonts/icomoon.woff') format('woff'),
  url("line/fonts/icomoon.woff2") format("woff2"),
  url('line/fonts/icomoon.ttf') format('truetype'),
  url('line/fonts/icomoon.svg?-rdmvgc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: 'icomoon-solid';
  src:url('solid/fonts/icomoon.eot?1sxah1');
  src:url('solid/fonts/icomoon.eot?#iefix1sxah1') format('embedded-opentype'),
  url('solid/fonts/icomoon.woff?1sxah1') format('woff'),
  url("solid/fonts/icomoon.woff2") format("woff2"),
  url('solid/fonts/icomoon.ttf?1sxah1') format('truetype'),
  url('solid/fonts/icomoon.svg?1sxah1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;

}

[class^="mw-micon-solid-"], [class*=" mw-micon-solid-"] {
  font-family: 'icomoon-solid';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@import 'selectors.less';