/*
 * Microweber - Framework
 *
 * Default styles
 *
 */

@import url("css/ui.css");
/*
@import url("../layouts/templates/layouts.css");
*/

/*@import url("api/libs/mw-ui/grunt/plugins/ui/css/main_with_mw.css");*/
/*@import url("api/libs/mw-ui/grunt/plugins/ui/css/main_compiled.css");*/

@import url("api/libs/mw-ui/assets/ui/plugins/css/plugins.min.css");

.mw-filepicker-component-section:hover .dro\pable-zone button {
    text-decoration: underline;
}

.mw-filepicker-component-section:hover .dropable-zone {
    border-color: #4592ff;
    background-color: rgba(69, 146, 255, 0.1);
}

.mw-uploader-type-holder {
    position: relative;
}

.mw-filepicker-root .card-header .dropdown.form-control {
    width: auto !important;
}

.mw-filepicker-component-section {
    /*max-height: 70vh;*/
    overflow: hidden;
}

.bootstrap-select .dropdown-menu li {
    overflow: hidden;
}

.mw-filepicker-component-section,
.mw-filepicker-component-section iframe {
    min-height: 50px;

}

.mw-filepicker-component-navigation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.mw-user-thumb:before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\F0013";
    font-family: "Material Design Icons";
}

.mw-user-thumb {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: inline-flex;
    vertical-align: middle;
    background-color: #F9F9F9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    color: #51acf7;
    font-size: 30px;

}



/* Blank Link CLick Disable CSS */
@media only screen and (min-width: 768px) {

    #main-menu a[href=""],
    #main-menu a[href="#"],
    header a[href=""],
    header a[href="#"],
    nav a[href=""],
    nav a[href="#"] {
        pointer-events: none;
        /* cursor: no-drop; */
    }



    a.dropdown-toggle,
    #main-menu a.member-nav,
    nav a.member-nav,
    header a.member-nav,
    a.btn-primary,
    a.member-nav {
        pointer-events: auto !important;
    }

    a[href=""].dropdown-toggle.menu_element_link,
    a[href="#"].dropdown-toggle.menu_element_link,
    a[href=""][class*="menu-item-parent-"] {
        pointer-events: none !important;
    }
}

.hide {
    display: none !important;
}

/* Blank Link CLick Disable CSS End*/

nav a[data-toggle="modal"] {
    pointer-events: auto !important;
}
