@import '../../../bootstrap_variables';

$white: #2B2B2B;
$black: #d1d1d1;
$silver: #bcbfc2;

$primary: #f2f2f2;
$secondary: #7e7e7e;
$success: #5bce93;
$info: #426b8a;
$warning: $yellow;
$danger: $red;
$light: #F9FCFF ;
$dark: #d1d1d1;

$body-bg: #000000;
$body-color: #d1d1d1;

$text-muted: $silver;

$textDark: #d1d1d1;
$textGray: #7e7e7e;
$textLight: #2B2B2B;