/* Discounts - Template - Default */
.mw-discounts-module input {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 1px solid #cdcdcd;
    color: #636363;
    font-size: 14px;
    box-shadow: none;
    width: 100%;
    padding: 23px 10px;
}

.mw-discounts-module button,
.mw-discounts-module .btn-default,
.mw-discounts-module a{
    width: 100%;
    padding: 14px 5px 12px 5px;
}