.ui-datepicker{
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    clear: both;
    background-color: #fff;
    box-shadow: 0 .126rem .26rem rgba(0,0,0,.066)!important;
    padding: 6px;
    *{
        margin: 0;
        padding: 0;
    }
    td,th{
        padding: 6px;
    }
    .ui-datepicker-prev{
        float: left;
        cursor: pointer;
    }
    .ui-datepicker-next{
        float: right;
        cursor: pointer;
    }
    .ui-datepicker-title{
        clear: both;
        text-align: center;
    }
    .ui-datepicker-today{
        background-color: #2b2b2b;
        color: #fff;
        a{
            padding-top: 0px;
            padding-bottom: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
            background-image: none !important;
            background-color: transparent !important;
            background-repeat: no-repeat;
            background-position: center center;
            outline: 0px dashed #a5b3ac;
            font-size: inherit;
            color: inherit;
            text-decoration: none;
            font-style: normal;
            line-height: inherit;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            height: auto;
            min-height: 0;
            width: auto;
            opacity: 1;
        }
    }
}
