@import "var";

.mw-notification {
    display: table;
    padding: 5px;
    text-align: center;
    font-size: 12px;
}

.mw-notification-lite {
    display: block;
    padding: 0;
    text-align: inherit;
    font-size: inherit;
}

.mw-notification > div {
    display: table-cell;
    height: 25px;
    padding: 0 11px;
    vertical-align: middle;
}

.mw-notification > div > * {
    vertical-align: middle;
}

.mw-success {
    background-color: @notification;
    color: contrast(@notification, #fff, #fff, 70%);
}

.mw-warning {
    background-color: @warn;
    color: contrast(@warn, #fff, #fff, 70%);
}

.mw-error {
    background-color: @important;
    color: contrast(@important, #fff, #fff, 70%);
}

#mw-notifications-holder {
    position: relative;
    z-index: 9999;
}

#mw-notifications-holder .mw-notification:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#mw-notifications-holder .mw-notification {
    left: 50%;
    margin-left: -175px;
    position: fixed;
    top: 0;
    transition: opacity 2s;
    -moz-transition: opacity 2s;
    -webkit-transition: opacity 2s;
    -o-transition: opacity 2s;
}

#mw-notifications-holder .mw-notification + .mw-notification {
    top: 40px;
}

#mw-notifications-holder .mw-notification + .mw-notification + .mw-notification {
    top: 80px;
}

#mw-notifications-holder .mw-notification + .mw-notification + .mw-notification + .mw-notification {
    top: 120px;
}

#mw-notifications-holder .mw-notification + .mw-notification + .mw-notification + .mw-notification + .mw-notification {
    top: 160px;
}

#mw-notifications-holder .mw-notification + .mw-notification + .mw-notification + .mw-notification + .mw-notification + .mw-notification {
    top: 200px;
}

#mw-notifications-holder .mw-notification + .mw-notification + .mw-notification + .mw-notification + .mw-notification + .mw-notification + .mw-notification {
    top: 240px;
}