/****************************
    Variables
*****************************/


@borderColor: rgba(0, 0, 0, 0.125);
@fieldBorderColor: rgba(207,207,207,1);
@buttonColor: #ffffff;
@invert: #262626;
@boxbg: #fafafa;



@default: #eeefef;
@defaultTextColor: #686868;
@defaultBorderColor: #cfcfcf;
@invert: #2b2b2b;
@invertTextColor: #fff;
@invertBorderColor: #2b2b2b;
@info: #4592ff;
@infoTextColor: #fff;
@infoBorderColor: #4592ff;
@warn: #ffc107;
@warnTextColor: #fff;
@warnBorderColor: #ffc107;
@important: #f12b1c;
@importantTextColor: #fff;
@importantBorderColor: #f12b1c;
@notification: #469a36;
@notificationTextColor: #fff;
@notificationBorderColor: #469a36;

@radius: 5px;
@defaultRoundedRadius: 30px;

@linkColor: #009cff;
@textColor: #2b2b2b;

@smallHeight: 30px;
@mediumHeight: 35px;
@normalHeight: 40px;
@largeHeight: 50px;

@smallFontSize: 0.765625rem;
@mediumFontSize: 0.765625rem;
@normalFontSize: 0.875rem;
@largeFontSize: 1.09375rem;
