.mw-backup-v2-import {
    padding-right: 40px;
    padding-left: 40px;
    text-align: center;
    display: flex;
    flex-flow: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.mw-backup-v2-import > .import-image {
    display: none;
}

.mw-backup-v2-import-option {
    padding-left: 15px;
    padding-bottom: 15px;
    background: #FFF;
    border: 1px solid #ebebeb;
    margin-bottom: 15px;
    width: 100%;
    text-align: left;
}

.mw-backup-v2-import-option.active {
    box-shadow: 0px 4px 11px #e6e6e6;
}

.mw-backup-v2-import-option:hover {
    box-shadow: 0px 4px 11px #e6e6e6;
}

.mw-backup-v2-import-option h3 {
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}

.mw-backup-v2-import-option p {
    font-size: 13px;
}

.mw-backup-v2-import-option > .option-radio {
    width: 50px;
    height: 55px;
    float: left;
    padding-top: 25px;
    padding-left: 10px;
}

.mw-backup-v2-import-buttons {
    text-align: right;
}

.mw-backup-v2-import-buttons > .button-cancel {
    margin-right: 25px;
    font-weight: bold;
    cursor: pointer;
    padding: 15px;
}

.backup-import-modal-log {
    text-align: left;
    color: #fff;
    background: #575757;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    font-family: monospace;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 200px;
    overflow-y: auto;
}

#backup-import-progressbar h3 {
    color: #469a36;
}

.backup-import-modal-log-progress {
    width: 80%;
}

#quick-parent-selector-tree {
    max-height: 40vh;
    overflow: auto;
}

.export-stepper-1-select {
    margin: 0px 0 25px;
}

.export-stepper .mw-stepper-item {
    padding: 10px;
}

.export-stepper-1-select .mw-construct-itd {
    width: 100%;
}

.step-actions .mw-ui-btn {
    min-width: 180px;
}

.step-actions-2, .step-actions-3 {
    justify-content: flex-end;
}

.step-header-actions {
    padding-bottom: 15px;
}

.export-step-2-items-head .mw-construct-itd,
.export-step-3-items-head .mw-construct-itd {
    display: flex;
    padding-bottom: 10px;
}

.export-step-2-items-head,
.export-step-3-items-head {
    padding-bottom: 15px;

}

.export-step-2-items-head .mw-ui-check + .mw-ui-check,
.export-step-3-items-head .mw-ui-check + .mw-ui-check {
    margin-left: 10px;
}

.js-export-log-content {
    text-align: left;
    color: #fff;
    background: #575757;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    font-family: monospace;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow-y: scroll;
}

.js-export-log:empty {
    display: none;
}

.export-stepper-1 .export-stepper-content,
.export-stepper-4 .export-stepper-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-height: 700px) {
    .export-stepper-1 .export-stepper-content,
    .export-stepper-4 .export-stepper-content {
        padding: 40px 0;
    }
}

.export-stepper-content{
    padding-top: 20px;
}

.mw-selectable-list label {
    padding: 15px 10px;
    display: flex;
    align-items: center;
}

.mw-selectable-list > label > * {
    padding-top: 0;
    padding-bottom: 0;
    border: 0 !important;
}

.mw-selectable-list .mw-selectable-list-input .mw-ui-check {
    top: 0;
}

.mw-selectable-list-input {
    order: 1;
}

.mw-selectable-list-icon {
    order: 2;
}

.mw-selectable-list-content {
    order: 3;
}

.mw-selectable-list .mw-selectable-list-content {
    font-size: 13px;
    font-weight: 400;
}

.mw-selectable-list-content-description {
    font-size: 0.75rem;
    font-weight: 400;
    color: #919191;
}