  .mw-helpinfo{
    position:absolute;
    left: -9999px;
    top: -9999px;
  }
  #helpinfo_helper{
    display: none;
    position: absolute;
    max-width: 95%;
    top: 0;
    left: 0;
    display: inline-block;
    z-index:9999;
    background: white;
    box-shadow: 0 0 6px #BBBBBB;
  }
  .mw_helpinfo_overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background: transparent;
  }

  #mw_info_helper_content{
    padding: 20px;
    overflow: hidden;
    position: relative;
    min-width: 200px;
    font-size: 14px;
  }

  #mw_info_helper_content ul, #mw_info_helper_content ol{
    padding-left: 16px;
  }

  #mw_info_helper_footer{
    clear: both;
    padding: 12px 0;
    margin: 0 20px;
    position: relative;
    overflow: hidden;
    border-top: 1px solid  #EFECEC;
  }

  #mw_info_helper_footer .mw-ui-btn.right{
    margin-left:10px;
  }

  #helpinfo_arr{
    display: block;
    position: absolute;
    width: 34px;
    height: 17px;
    left: 20px;
    top: -17px;
    background: url(../img/helpinfoarr.png) no-repeat;
  }

  .bottomright #helpinfo_arr{
    left: auto;
    right: 20px;
  }
  .bottomcenter #helpinfo_arr{
    left: 50%;
    margin-left: -17px;
  }
  .topright #helpinfo_arr{
    top: auto;
    bottom: -17px;
    left: auto;
    right: 20px;
    background-position: left bottom;
  }
  .topleft #helpinfo_arr{
    top: auto;
    bottom: -17px;
    background-position: left bottom;
  }
  .topcenter #helpinfo_arr{
    top: auto;
    bottom: -17px;
    background-position: left bottom;
    left: 50%;
    margin-left: -17px;
  }

  .lefttop #helpinfo_arr{
    top: 20px;
    left: auto;
    right: -17px;
    background-position: right top;
    width: 17px;
    height: 34px;
  }

  .leftcenter #helpinfo_arr{
    top: 50%;
    margin-top: -17px;
    left: auto;
    right: -17px;
    background-position: right top;
    width: 17px;
    height: 34px;
  }

  .rightcenter  #helpinfo_arr{
    top: 50%;
    margin-top: -17px;
    left: -17px;
    background-position: left top;
    width: 17px;
    height: 34px;
  }

  .righttop   #helpinfo_arr{
    top: 20px;
    left: -17px;
    background-position: left top;
    width: 17px;
    height: 34px;
  }

  .mw-mouse{
    display: none;
    width:34px;
    height: 42px;
    background: url(../img/mouse.png) no-repeat;
    position: absolute;
    z-index: 9999;
  }
  .mw-mouseclick{
    background: url(../img/mouseclick.png) no-repeat;
  }

  .mwcurrhelp{
    position: relative;
    z-index: 999;
  }

  .mwhelpinfoimg{
    float: left;
    margin-right: 20px;
  }
