@import "../api/libs/material_icons/material_icons.css";

@font-face {
    font-family: 'admin';
    src: url('fonts/admin/admin.eot');
    src: url('fonts/admin/admin.eot?#iefix') format('embedded-opentype'),
    url('fonts/admin/admin.woff') format('woff'),
    url('fonts/admin/admin.ttf') format('truetype'),
    url('fonts/admin/admin.svg#admin') format('svg');
    font-weight: normal;
    font-style: normal;
}


[class*='mai-']:before {
    display: inline-block;
    font-family: 'admin';
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.mai-file-manage:before {
    content: '\0041';
}

.mai-warn:before {
    content: '\0042';
}

.mai-edit:before {
    content: '\0043';
}

.mai-website:before {
    content: '\0044';
}

.mai-bin:before {
    content: '\0045';
}

.mai-category:before {
    content: '\0046';
}

.mai-cl:before {
    content: '\0047';
}

.mai-comment:before {
    content: '\0048';
}

.mai-cr:before {
    content: '\0049';
}

.mai-dashboard:before {
    content: '\004a';
}

.mai-download:before {
    content: '\004b';
}

.mai-earth:before {
    content: '\004c';
}

.mai-edit:before {
    content: '\004d';
}

.mai-eye:before {
    content: '\004e';
}

.mai-idea:before {
    content: '\004f';
}

.mai-logo:before {
    content: '\0050';
}

.mai-map:before {
    content: '\0051';
}

.mai-market:before {
    content: '\0052';
}

.mai-market2:before {
    content: '\0053';
}

.mai-options:before {
    content: '\0054';
}

.mai-optionsv:before {
    content: '\0055';
}

.mai-order:before {
    content: '\0056';
}

.mai-page:before {
    content: '\0057';
}

.mai-post:before {
    content: '\0058';
}

.mai-product:before {
    content: '\0059';
}

.mai-setting:before {
    content: '\005a';
}

.mai-image:before {
    content: '\0061';
}

.mai-user:before {
    content: '\0062';
}

.mai-user2:before {
    content: '\0063';
}

.mai-user3:before {
    content: '\0064';
}

.mai-comment2:before {
    content: '\0065';
}

.mai-close:before {
    content: '\0066';
}

.mai-download2:before {
    content: '\0067';
}

.mai-code:before {
    content: '\0068';
}

.mai-bin2:before {
    content: '\0069';
}

.mai-cd:before {
    content: '\006a';
}

.mai-cu:before {
    content: '\006b';
}

.mai-plus:before {
    content: '\006c';
}

.mai-shop:before {
    content: '\006d';
}

.mai-link:before {
    content: '\006e';
}

.mai-notification:before {
    content: '\006f';
}

.mai-home:before {
    content: '\0070';
}

.mai-product:before {
    content: '\0071';
}

.mai-mail:before {
    content: '\0072';
}

.mai-shipping:before {
    content: '\0073';
}

.mai-percent:before {
    content: '\0074';
}

.mai-modules:before {
    content: '\0075';
}

.mai-languages:before {
    content: '\0076';
}

.mai-licenses:before {
    content: '\0077';
}

.mai-login:before {
    content: '\0078';
}

.mai-templates:before {
    content: '\0079';
}

.mai-setting2:before {
    content: '\007a';
}

.mai-eye2:before {
    content: '\002c';
}

.mai-link2:before {
    content: '\002d';
}

.mai-monitor-minus:before {
    content: '\002e';
}

.mai-thunder:before {
    content: '\002f';
}