#cssmenu #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#cssmenu #menu-button {
    display: none;
}

@media all and (max-width: 767px) {

    #cssmenu>ul {
        display: none;
    }

    #cssmenu>ul.open {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 200px;
        background-color: #efefef;
        justify-content: center;
        align-items: center;
        left: 50%;
        transform: translateX(-50%);
        z-index: 99999999;
        box-shadow: 0 0 3px 2px #ccc;
    }

    #cssmenu #menu-button {
        display: block;
        text-decoration: none;
        font-size: 1em;
        font-weight: 700;
        color: #dddddd;
        padding: 18px 25px 18px 25px;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;
    }

}
